<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
      <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="admin@ccwisp.xyz">
        <network host="smtp.ym.163.com" port="994" userName="admin@ccwisp.xyz" password="8tqV*ptl"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="sqlConnStr2" connectionString="Data Source=.\SQLEXPRESS;&#xD;&#xA;        AttachDbFilename=|DataDirectory|\BookStore.mdf;&#xD;&#xA;        Integrated Security=True;&#xD;&#xA;        User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="sqlConnStr" connectionString="Data Source=LOCALHOST\SQLEXPRESS,2433;&#xD;&#xA;        Initial Catalog=bookstore;&#xD;&#xA;        Integrated Security=True" />
    <add name="bookstoreConnectionString" connectionString="Data Source=.\SQLEXPRESS,2433;Initial Catalog=bookstore;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
